---
layout: default
---
<h3>Homework</h3>
<p>All assignments should be submitted via gradescope in canvas!</p>
<br />
{% assign reversedHw = site.data.homework | reverse %}
{% for l in reversedHw %}
<div class="row well well-sm">
	<div class="col-md-9">
	  <b>{{l.title}}</b>{% if l.description %}: {{l.description}}
    {% endif %}
	</div>
  {% if l.filename %}
	<div class="col-md-3">
		<a href="{{ l.filename }}"><button type="button" 
    class="btn btn-lnk btn-spaced">pdf</button></a>
	</div>
  {% endif %}
</div>
{% endfor %}


